* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.cuerpo {
    /* background-image: url(https://astelus.com/wp-content/viajes/Lago-Moraine-Parque-Nacional-Banff-Alberta-Canada.jpg);
    background-repeat: repeat;
    background-size: 100%; */
    background-color: aquamarine;
}

.contenedor {
    margin: 100px;
    background-color: #ffff;
    padding: 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;

}

.caja {
    background-color: grey;
    margin: 100px;
    border-radius: 6px;
    width: 500px;
    height: 500px;
}

.botoncito {
    margin: 5px;
    width: 200px;
    display: inline;
    justify-content: center;
}
.updateCart{
    margin: 20px;
}
